<nav class="nav">
  <h1><a routerLink="">শব্দবাজার</a></h1>
  <div *ngIf="menuType === 'default' || menuType === 'user'" class="search-bar">
    <input
      type="text"
      #searchInput
      (keyup)="searchBook($event)"
      placeholder="Search Book"
    />
    <button>Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a>{{ item.name }} </a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'" class="nav-links">
      <li>
        <a routerLink="/seller-auth">Seller</a>
        <a routerLink="/">Home</a>
        <a routerLink="/user-auth">Log-in/Sign-Up</a>
        <a routerLink="#">Cart ({{cartItem}})</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'user'">
      <li>
        <!-- <a routerLink="seller-auth">Seller</a> -->
        <a routerLink="/">Home</a>
        <a routerLink="my-order">My Orders</a>
        <a routerLink="cart-page">Cart ({{cartItem}})</a>
        <a routerLink="user-auth">{{ userName | titlecase }}</a>
        <a (click)="userLogout()">Logout</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'seller'" class="nav-links">
      <li>
        <a routerLink="seller-add-product">Add Book</a>
        <a routerLink="seller-home">Book List</a>
        <a (click)="logout()">Log Out</a>
        <a routerLink="">{{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
