/* Resetting default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #7bb8bd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* margin-bottom: 20px; */
  /* border-radius: 5px; */
}

.nav h1 {
  font-size: 30px;
  margin: 0;
}
h1 a {
  color: rgb(25, 84, 194);
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px; /* Increased padding for better appearance */
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 400px; /* Adjust the width as needed */
}

.search-bar button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline;
  margin-left: 20px; /* Adjust spacing between links */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px; /* Add padding to create space around links */
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Style the <ul> element */
ul {
  list-style-type: none;
  padding: 0;
}

/* Style the <li> elements */
ul li {
  display: inline-block;
  margin-right: 20px;
}

/* Style the <a> elements */
ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;

  border-radius: 5px;
  transition: all 0.3s ease;

  cursor: pointer;
}

/* Hover effect for <a> elements */
ul li a:hover {
  background-color: #29796e;
  color: #fff;
}

/* Style the last <a> element (Cart) differently */
ul li a:last-child {
  border: none;
}

/* Style the Cart text */
ul li a:last-child span {
  color: #ff4500; /* Adjust the color as needed */
}

/* Add some margin to the list */
ul li {
  margin: 0 10px;
}
