/* Footer Styles */
.footer {
  background-color: #7bb8bd;
  color: #fff;
  /* padding: 50px 0; */
  margin-top: 20px; /* Add margin-top to create space between footer and content above */
 border-radius: 5px;
}

.footer h4 {
  color: #0e0c0c;
  font-size: 18px;
  margin-top: 20px;;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Reset margin to remove default spacing */
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #050505;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
   background-color: #29796e;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.footer-bottom {
  background-color: #222;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px; /* Add margin-top to create space between footer and content below */
}

.footer-bottom p {
  margin: 0;
  font-size: 20px;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0; /* Reset margin to remove default spacing */
}

.footer-social li {
  /* display: inline-block; */
  margin-right: 10px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social li a:hover {
  color: #ffc107;
}
