/* Footer Styles */
.footer {
  background-color: #f8f9fa;
  /* padding: 50px; */
  text-align: center;
  position: fixed;
  bottom: 0;
width: 100%;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 40px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.footer-links a:hover {
  color: #007bff;
}

.footer p {
  /* margin-top: 20px; */
  font-size: 20px;
  color: #666;
}
