.checkout {
  margin: 20px;
}

.checkout h1 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-sm-7,
.col-sm-5 {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
}

.common-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.payment-info {
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #dee2e6; /* Gray border */
  padding: 20px;
}

.payment-info h4 {
  font-size: 20px;
  color: #212529; /* Dark gray text color */
}

.payment-info b {
  color: #007bff; /* Blue color for "Pay on Delivery" */
}
.message-p {
  text-align: center;
  font-size: 20px;
  color: rgb(100, 237, 134);
}
