<div class="add-product">
  <h1>Add New Product</h1>
  <p>{{ addBookMessage }}</p>
  <form
    #addProduct="ngForm"
    (ngSubmit)="submit(addProduct.value)"
    class="common-form"
  >
    <input
      type="text"
      class="form-input"
      placeholder="Enter Book Name"
      name="name"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Book Price"
      name="price"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Book Category"
      name="category"
      ngModel
    />
    <input
      type="date"
      class="form-input"
      placeholder="Enter Published Date"
      name="date"
      ngModel
    />

    <textarea
      type="text"
      class="form-input"
      placeholder="Enter Book Description"
      name="description"
      ngModel
    ></textarea>

    <input
      type="text"
      class="form-input"
      placeholder="Enter Book Image "
      name="image"
      ngModel
    />
    <button class="form-button">Add Product</button>
  </form>
</div>
