.seller-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signup,
.login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #18725e;
  margin-bottom: 20px;
}
.login p {
  margin-top: 10px; /* Add some space above the error message */
  font-size: 14px;
  color: #dc3545; /* Red color for error messages */
  text-align: center;
}

.form-button:hover {
  background-color: #339972;
}
.auth-toggle-link {
  text-align: center;
  color: #007bff;
  cursor: pointer;
  margin-top: 15px;
}

.auth-toggle-link:hover {
  text-decoration: underline;
}
