<div class="head">
  <div class="header-content">
    <h1>Welcome to Shobdo-Bazar</h1>
    <p class="pp">
      "Embark on a literary journey where every page turns into an adventure –
      experience the magic of our exclusive book selling platform."
    </p>
  </div>
</div>

<div class="py-5 px-6 mt-6 rounded container-lg text-center g-4">
  <div class="category">
    <h2 class="user-title">Who can use</h2>
    <p class="description">Category of users and their description</p>
  </div>

  <div class="d-flex justify-content-between">
    <div class="card" style="width: 45%">
      <img
        src="assets/images/seller.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Seller Panel</h5>
        <p class="card-text">
          "The seller panel on our bookselling platform empowers individuals and
          businesses to curate compelling profiles, meticulously showcasing
          their vast inventory, expertise in specific genres, and unique selling
          propositions. Sellers have the flexibility to set pricing strategies,
          manage availability, and curate schedules to align seamlessly with
          their business objectives."
        </p>
        <i
          class="bi bi-arrow-right-circle-fill"
          style="font-size: 25px; color: rgb(10, 157, 231)"
        ></i>
      </div>
    </div>
    <div class="card" style="width: 45%">
      <img
        src="assets/images/user.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">User/Buyer Panel</h5>
        <p class="card-text">
          "The user panel on our bookselling platform offers a personalized
          gateway for book enthusiasts to explore, discover, and engage with an
          extensive collection of literature. Catering to both students and
          parents alike, our user panel simplifies the book-buying journey,
          ensuring a seamless and enriching experience for all."
        </p>
        <i
          class="bi bi-arrow-right-circle-fill"
          style="font-size: 25px; color: rgb(10, 157, 231)"
        ></i>
      </div>
    </div>
  </div>
</div>

<div
  class="popular_book py-3 px-2 mt-2 rounded container-lg text-center g-4"
  style="width: 81rem"
>
  <h1 style="text-align: center">Popular Based on User</h1>
</div>

<ngb-carousel class="container" *ngIf="popularBook">
  <ng-template *ngFor="let item of popularBook" ngbSlide>
    <!-- Set the background color of each NgbSlide to black -->
    <div class="ngb-slide-content">
      <div class="picsum-img-wrapper">
        <a routerLink="/details/{{ item.id }}">
          <img
            class="product-header-image"
            src="{{ item.image }}"
            alt="Random first slide"
          />
        </a>
      </div>
      <div class="carousel-caption">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <!-- Example icon with custom color -->
        <i class="my-icon fas fa-star"></i>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<!-- <div class="product-list-wrapper">
  <div class="category">
  <h1 class="section-title">Trendy Books</h1>
</div>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyBooks">
      <div class="product-item">
        <img
          class="product-image"
          src="{{ item.image }}"
          alt="{{ item.name }}"
        />
        <div class="product-details">
          <h6 class="product-name">{{ item.name }}</h6>
          <div class="product-price">
            <h6>Price: {{ item.price }} Taka</h6>
          </div>
          <div class="product-category">
            <h6>Category: {{ item.category }}</h6>
          </div>
        </div>
        <div class="product-actions">
          <a class="btn-details" routerLink="/details/{{ item.id }}"
            >View Details</a
          >
          <button class="btn-add-to-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<section class="product_slider bg-white mx-auto my-3 py-1 align-items-center">
  <div
    class="text-head fw-bold fs-3 d-flex justify-content-between align-items-center"
  
    >
    <span class="tb">Trendy Books</span>
    <!-- <button class="text m-0 text-start px-3 py-4 text-nowrap">View All</button> -->
  </div>

  <div class="container-fluid position-relative">
    <div class="slider_wrap d-flex align-items-center">
      <div class="slider_main text-nowrap d-flex" #slider>
        <div
          class="item col-md-4 col-sm-6 col-xs-12 mb-3"
          *ngFor="let item of trendyBooks"
        >
          <div class="card" style="width: 14rem">
            <div class="img_card">
              <img class="card-image" [src]="item.image" [alt]="item.name" />
            </div>
            <div class="details-container">
              <div class="name-container text-wrap h-50">
                <p>
                  {{ item.name }}
                  <span class="company-name">({{ item.category }})</span>
                </p>
                <div class="product-price">
                  <h6>Price: {{ item.price }} Taka</h6>
                </div>
              </div>
            </div>
            <!-- <div class="product-actions">
              <a class="btn-details" [routerLink]="['/details', item.id]">View Details</a>
              <button class="btn-add-to-cart">Add to Cart</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev carousel-button"
      type="button"
      (click)="prev()"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button
      class="carousel-control-next carousel-button"
      type="button"
      (click)="next()"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</section>
