.product-list-wrapper {
  padding: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}
.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);
  width: 80vw;

  border: none;
  height: 1px;

  margin-left: 1rem ;
}

.product_slider {
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding-right: 1rem;
  min-height: 55vh;
  width: 81rem;
}
.grid-container {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.6rem; /* Adjust the gap between cards */
  /* border: 1px solid black */
}

.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);
  max-width: 100%;
  border: none;
  height: 0.1rem;
  margin-left: 01rem;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 14rem;
  border: 1px solid #1b1e1f;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
}
.card-look {
height: 12rem;
width: 14rem;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 12rem;
  width: 14rem;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--color-primary);
}

.card-out-of-stock {
  opacity: 0.7;
}

.card-body {
  background-color: rgb(251, 252, 252);
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.category-name {
  font-style: italic;
  color: #558bb4;
}

.product-price {
  font-size: 1rem;
 text-align: center;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.btn-details,
.btn-add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-details:hover,
.btn-add-to-cart:hover {
  background-color: #0056b3;
}

.line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 20px 0;
}

@media (max-width: 768px) {
  .grid-item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
